.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

.employee_kbn,
.employee_name_kana,
.employee_name,
.employee_no{
    text-align: center;
    width: 100%;
    border: 1px #000 solid;
}

.ssss{
    text-align: center;
    border: 1px #000 solid;
}

#parent{
    width: 100%;
    margin: 0 auto;
    border: 1px #000 solid;
}
#emp_no{
    width: 25%;
    float: left;
    border: 1px #000 solid;
}              
#emp_name{
    width: 25%;
    float: left;
    border: 1px #000 solid;
}           
#emp_name_kana{
    width: 24%;
    float: left;
    border: 1px #000 solid;
}           
#emp_kbn{
    width: 25%;
    float: left;
    border: 1px #000 solid;
}